@charset "UTF-8";

@font-face {
    font-family: 'Bebas';
    src: url(fontes/Bebas-Regular.otf);
}

@font-face {
    font-family: 'Black Ravens';
    src: url(fontes/black-ravens.otf);
}

* { 
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #3f4283;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

body h3 {
    text-align: center;
}

body p {
    line-height: 2em;
}

header {
    background-image: url(imagens/videogame.jpg);
    background-size: auto;
    text-align: center;
    color: white;
    height: 180px;
}

header > h1 {
    padding: 25px;
    font-family: 'Black Ravens';
    font-size: 6em;
    color: white;
    text-shadow: 3px 3px 7px #8f23aa;

}

nav {
    text-align: center;
    font-family: 'Bebas';
    font-size: 1.6em;
    padding: 30px;
    background-image: linear-gradient(to bottom, #15162a, transparent);
    word-spacing: 30px;
    
}

nav a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px 1px black;
    border-radius: 3px;
    transition-duration: .5s;
}

nav a:hover {
    background-color: #cf2df831;
    padding: 7px;
}

main {
    background-color: #f9f9ffd0;
    padding: 20px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    min-width: 400px;
    max-width: 900px;
    min-height: 950px;
}

img {
    position: relative;
    width: 40%;
    margin: auto;
    padding: 40px;
    float: left;
}

footer {
    background-image: url(imagens/videogame.jpg);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: white;
    text-shadow: 2px 2px 3px #8f23aa;
    font-size: 0.9em;
}